data-collection/deploy/source/step-functions/health-detail-state-machine-v2.json
{
  "Comment": "Collects Health Events",
  "StartAt": "SetGlobalVariables1",
  "States": {
    "SetGlobalVariables1": {
      "Type": "Pass",
      "QueryLanguage": "JSONata",
      "Assign": {
        "Module": "${Module}",
        "Params": "${Params}",
        "DataCollectionRegion": "${DeployRegion}",
        "DataCollectionAccountId": "${Account}",
        "Prefix": "${Prefix}",
        "Bucket": "${Bucket}",
        "Crawlers": ${Crawlers},
        "MainExeUuid": "{% $states.input.main_exe_uuid %}",
        "ChildUuid": "{% $split($states.context.Execution.Id, ':')[7] %}",
        "ExecutionStartTimeSplit": "{% $split($states.context.Execution.StartTime, /[-:T.]/) %}",
        "ExecutionStatus": 200,
        "MapKey": "{% $states.input.file %}",
        "Account": "{% $states.input.account %}",
        "IngestionTime": "{% $states.input.ingestion_time %}"
      },
      "Next": "SetGlobalVariables2"
    },
    "SetGlobalVariables2": {
      "Type": "Pass",
      "QueryLanguage": "JSONata",
      "Assign": {
        "LogKeyBase": "{% 'logs/modules/'&$ExecutionStartTimeSplit[0]&'/'&$ExecutionStartTimeSplit[1]&'/'&$ExecutionStartTimeSplit[2]&'/'&$Module&'detail-sf-' %}",
        "CrawlerStateMachine": "{% 'arn:aws:states:'&$DataCollectionRegion&':'&$DataCollectionAccountId&':stateMachine:CID-DC-CrawlerExecution-StateMachine' %}",
        "SubUuid": {
          "child-state-machine-exid": "{% $ChildUuid %}"
        }
      },
      "Next": "DataCollectionMap"
    },
    "DataCollectionMap": {
      "Type": "Map",
      "QueryLanguage": "JSONata",
      "ItemReader": {
        "Resource": "arn:aws:states:::s3:getObject",
        "ReaderConfig": {
          "InputType": "JSON"
        },
        "Arguments": {
          "Bucket": "{% $Bucket %}",
          "Key": "{% $MapKey %}"
        }
      },
      "MaxConcurrency": 1,
      "ItemBatcher": {
        "MaxItemsPerBatch": 500,
        "BatchInput": {
          "account": "{% $Account %}",
          "ingestion_time": "{% $IngestionTime %}",
          "main_exe_uuid": "{% $MainExeUuid %}",
          "child_uuid": "{% $ChildUuid %}",
          "sub_uuid": "{% $SubUuid %}",
          "bucket": "{% $Bucket %}",
          "dc_account": "{% $DataCollectionAccountId %}",
          "dc_region": "{% $DataCollectionRegion %}",
          "module": "{% $Module %}",
          "prefix": "{% $Prefix %}",
          "log_key_base": "{% $LogKeyBase %}",
          "params": "{% $Params %}",
          "partition": "{% $Partition %}"
        }
      },
      "ItemProcessor": {
        "ProcessorConfig": {
          "Mode": "DISTRIBUTED",
          "ExecutionType": "STANDARD"
        },
        "StartAt": "DataCollectionLambda",
        "States": {
          "DataCollectionLambda": {
            "Type": "Task",
            "QueryLanguage": "JSONata",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Arguments": {
              "FunctionName": "{% 'arn:'&$states.input.BatchInput.partition&':lambda:'&$states.input.BatchInput.dc_region&':'&$states.input.BatchInput.dc_account&':function:'&$states.input.BatchInput.prefix&'-'&$states.input.BatchInput.module&'-Lambda' %}",
              "Payload": {
                "account": "{% $states.input.BatchInput.account %}",
                "main_exe_uuid": "{% $states.input.BatchInput.main_exe_uuid %}",
                "sub_uuid": "{% $states.input.BatchInput.sub_uuid %}",
                "params": "{% $states.input.BatchInput.params %}",
                "ingestion_time": "{% $states.input.BatchInput.ingestion_time %}",
                "items": "{% $states.input.Items %}"
              }
            },
            "Output": {
              "account": "{% $states.input.BatchInput.account %}",
              "main_exe_uuid": "{% $states.input.BatchInput.main_exe_uuid %}",
              "sub_uuid": "{% $merge([$states.input.BatchInput.sub_uuid, {'map-state-machine-exid': $split($states.context.Execution.Id, ':')[7]}]) %}",
              "module": "{% $states.input.BatchInput.module %}",
              "bucket": "{% $states.input.BatchInput.bucket %}",
              "dc_account": "{% $states.input.BatchInput.dc_account %}",
              "dc_region": "{% $states.input.BatchInput.dc_region %}",
              "log_key_base": "{% $states.input.BatchInput.log_key_base %}",
              "params": "{% $states.input.BatchInput.params %}",
              "description": ""
            },
            "Catch": [
              {
                "ErrorEquals": [
                  "States.ALL"
                ],
                "Output": {
                  "account": "{% $states.input.BatchInput.account %}",
                  "main_exe_uuid": "{% $states.input.BatchInput.main_exe_uuid %}",
                  "sub_uuid": "{% $merge([$states.input.BatchInput.sub_uuid, {'map-state-machine-exid': $split($states.context.Execution.Id, ':')[7]}]) %}",
                  "module": "{% $states.input.BatchInput.module %}",
                  "bucket": "{% $states.input.BatchInput.bucket %}",
                  "dc_account": "{% $states.input.BatchInput.dc_account %}",
                  "dc_region": "{% $states.input.BatchInput.dc_region %}",
                  "log_key_base": "{% $states.input.BatchInput.log_key_base %}",
                  "params": "{% $states.input.BatchInput.params %}",
                  "description": "{% $states.errorOutput %}"
                },
                "Next": "DCLambdaErrorMetric"
              }
            ],
            "Retry": [
              {
                "ErrorEquals": [
                  "Lambda.TooManyRequestsException"
                ],
                "IntervalSeconds": 2,
                "MaxAttempts": 6,
                "BackoffRate": 2,
                "JitterStrategy": "FULL"
              }
            ],
            "End": true
          },
          "DCLambdaErrorMetric": {
            "Type": "Task",
            "QueryLanguage": "JSONata",
            "Resource": "arn:aws:states:::aws-sdk:cloudwatch:putMetricData",
            "Arguments": {
              "Namespace": "CID-DataCollection",
              "MetricData": [
                {
                  "MetricName": "Error",
                  "Value": 1,
                  "Unit": "Count",
                  "Dimensions": [
                    {
                      "Name": "Module",
                      "Value": "{% $states.input.module %}"
                    }
                  ]
                }
              ]
            },
            "Output": {
              "account": "{% $states.input.account %}",
              "main_exe_uuid": "{% $states.input.main_exe_uuid %}",
              "sub_uuid": "{% $states.input.sub_uuid %}",
              "description": "{% $states.input.description %}",
              "module": "{% $states.input.module %}",
              "bucket": "{% $states.input.bucket %}",
              "dc_account": "{% $states.input.dc_account %}",
              "dc_region": "{% $states.input.dc_region %}",
              "log_key_base": "{% $states.input.log_key_base %}",
              "params": "{% $states.input.params %}"
            },
            "Next": "DCLambdaErrorLog"
          },
          "DCLambdaErrorLog": {
            "Type": "Task",
            "Resource": "arn:aws:states:::aws-sdk:s3:putObject",
            "QueryLanguage": "JSONata",
            "Arguments": {
              "Bucket": "{% $states.input.bucket %}",
              "Key": "{% $states.input.log_key_base&'-'&$random()&'.json' %}",
              "Body": {
                "Timestamp": "{% $replace($now(), 'Z', '') %}",
                "DataCollectionRegion": "{% $states.input.dc_region %}",
                "DataCollectionAccountId": "{% $states.input.dc_account %}",
                "Module": "{% $states.input.module %}",
                "ModuleFunction": "sf-dc-lambda-error-log",
                "Params": "{% $states.input.params %}",
                "PayerId": "{% $states.input.account.payer_id %}",
                "AccountId": "",
                "Region": "",
                "StatusCode": 500,
                "SubCode": "",
                "RecordCount": 0,
                "Description": "{% $states.input.description %}",
                "DataLocation": "",
                "MainExeUuid": "{% $states.input.main_exe_uuid %}",
                "SubUuid": "{% $states.input.sub_uuid %}",
                "Service": "StepFunction"
              }
            },
            "Output": {
              "description": "{% $states.input.description %}"
            },
            "Retry": [
              {
                "ErrorEquals": [
                  "States.ALL"
                ],
                "BackoffRate": 2,
                "IntervalSeconds": 1,
                "MaxAttempts": 3
              }
            ],
            "Next": "FailMap"
          },
          "FailMap": {
            "Type": "Fail",
            "QueryLanguage": "JSONata",
            "Error": "MapLambdaExecutionError",
            "Cause": "Error in Detail Lambda trapped. See logs in your Data Collection bucket."
          }
        }
      },
      "Output": {
        "status_code": 200,
        "description": "Health Events detail Map task completed successfully"
      },
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Output": {
            "status_code": 500,
            "description": "{% $states.errorOutput %}"
          },
          "Next": "MapErrorMetric"
        }
      ],
      "Next": "CrawlerStepFunction"
    },
    "MapErrorMetric": {
      "Type": "Task",
      "QueryLanguage": "JSONata",
      "Resource": "arn:aws:states:::aws-sdk:cloudwatch:putMetricData",
      "Arguments": {
        "Namespace": "CID-DataCollection",
        "MetricData": [
          {
            "MetricName": "Error",
            "Value": 1,
            "Unit": "Count",
            "Dimensions": [
              {
                "Name": "Module",
                "Value": "{% $Module %}"
              }
            ]
          }
        ]
      },
      "Output": {
        "status_code": 500,
        "description": "Step Function AccountMap failed most or all executions"
      },
      "Next": "ExitLog"
    },
    "CrawlerStepFunction": {
      "Type": "Task",
      "QueryLanguage": "JSONata",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Arguments": {
        "StateMachineArn": "{% $CrawlerStateMachine %}",
        "Input": {
          "behavior": "WAIT",
          "crawlers": "{% $Crawlers %}"
        }
      },
      "Output": {
        "status_code": 200,
        "description": "Step Function execution completed successfully"
      },
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "ExitLog",
          "Output": {
            "status_code": 500,
            "description": "{% 'Step Function AccountMap failed with error: '&$states.errorOutput %}"
          },
          "Assign": {
            "ExecutionStatus": 500
          }
        }
      ],
      "Next": "ExitLog"
    },
    "ExitLog": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:s3:putObject",
      "QueryLanguage": "JSONata",
      "Arguments": {
        "Bucket": "{% $Bucket %}",
        "Key": "{% $LogKeyBase&'exit-'&$MainExeUuid&'.json' %}",
        "Body": {
          "Timestamp": "{% $replace($now(), 'Z', '') %}",
          "DataCollectionRegion": "{% $DataCollectionRegion %}",
          "DataCollectionAccountId": "{% $DataCollectionAccountId %}",
          "Module": "{% $Module %}",
          "ModuleFunction": "sf-exit",
          "Params": "{% $Params %}",
          "PayerId": "{% $Account.payer_id %}",
          "AccountId": "",
          "Region": "",
          "StatusCode": "{% $states.input.status_code %}",
          "SubCode": "",
          "RecordCount": 0,
          "Description": "{% $states.input.description %}",
          "DataLocation": "",
          "MainExeUuid": "{% $MainExeUuid %}",
          "SubUuid": "{% $SubUuid %}",
          "Service": "StepFunction"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "BackoffRate": 2,
          "IntervalSeconds": 1,
          "MaxAttempts": 3
        }
      ],
      "End": true
    }
  },
  "TimeoutSeconds": 10800
}