data-collection/deploy/source/step-functions/main-state-machine-v4.json
{
  "Comment": "Orchestrate the collection of ${Module} data",
  "StartAt": "SetGlobalVariables1",
  "States": {
    "SetGlobalVariables1": {
      "Type": "Pass",
      "QueryLanguage": "JSONata",
      "Assign": {
        "RunUUID": "{% $split($states.context.Execution.Id, ':')[7] %}",
        "ExecutionStartTime": "{% $split($states.context.Execution.StartTime, /[-:T.]/) %}",
        "Module": "${Module}",
        "Params": "${Params}",
        "DataCollectionRegion": "${DeployRegion}",
        "DataCollectionAccountId": "${Account}",
        "Type": "${CollectionType}",
        "Bucket": "${Bucket}",
        "AccountCollectorLambda": "${AccountCollectorLambdaARN}",
        "CrawlerStateMachine": "arn:aws:states:${DeployRegion}:${Account}:stateMachine:${Prefix}CrawlerExecution-StateMachine",
        "ExecutionStatus": 200
      },
      "Next": "SetGlobalVariables2"
    },
    "SetGlobalVariables2": {
      "Type": "Pass",
      "QueryLanguage": "JSONata",
      "Assign": {
        "LogKeyBase": "{% 'logs/'&$ExecutionStartTime[0]&'/'&$ExecutionStartTime[1]&'/'&$ExecutionStartTime[2]&'/'&$Module&'-stepfunction-' %}"
      },
      "Next": "AccountCollector"
    },
    "AccountCollector": {
      "Type": "Task",
      "QueryLanguage": "JSONata",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Next": "AccountMap",
      "Arguments": {
        "FunctionName": "{% $AccountCollectorLambda %}",
        "Payload": {
          "Module": "{% $Module %}",
          "Type": "{% $Type %}",
          "RunUUID": "{% $RunUUID %}",
          "Params": "{% $Params %}"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "Output": {
        "StatusCode": 200,
        "Description": "Account Collection Step Function task completed successfully",
        "ModuleFunction": "account-collector-task"
      },
      "Assign": {
        "AccountListKey": "{% $states.result.Payload.accountList %}"
      },
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "ExitLog",
          "Output": {
            "StatusCode": 500,
            "Description": "{% $states.errorOutput %}",
            "ModuleFunction": "account-collector-task"
          },
          "Assign": {
            "ExecutionStatus": 500
          }
        }
      ]
    },
    "AccountMap": {
      "Type": "Map",
      "QueryLanguage": "JSONata",
      "ItemProcessor": {
        "ProcessorConfig": {
          "Mode": "DISTRIBUTED",
          "ExecutionType": "STANDARD"
        },
        "StartAt": "ModuleLambda",
        "States": {
          "ModuleLambda": {
            "Type": "Task",
            "QueryLanguage": "JSONata",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Arguments": {
              "FunctionName": "${ModuleLambdaARN}",
              "Payload": {
                "account": "{% $states.input.account %}",
                "params": "${Params}",
                "run_uuid": "{% $states.input.run_uuid %}"
              }
            },
            "Output": {
              "StartTime": "{% $states.context.State.EnteredTime %}",
              "ExecutionStartTime": "{% $split($states.context.Execution.StartTime, /[-:T.]/) %}",
              "Account": "{% $parse($states.input.account) %}",
              "Description": ""
            },
            "Retry": [
              {
                "ErrorEquals": [
                  "Lambda.ServiceException",
                  "Lambda.AWSLambdaException",
                  "Lambda.SdkClientException",
                  "Lambda.TooManyRequestsException"
                ],
                "IntervalSeconds": 2,
                "MaxAttempts": 6,
                "BackoffRate": 2,
                "JitterStrategy": "FULL"
              }
            ],
            "Catch": [
              {
                "ErrorEquals": [
                  "States.ALL"
                ],
                "Output": {
                  "StartTime": "{% $states.context.State.EnteredTime %}",
                  "ExecutionStartTime": "{% $split($states.context.Execution.StartTime, /[-:T.]/) %}",
                  "Account": "{% $parse($states.input.account) %}",
                  "Description": "{% $states.errorOutput %}"
                },
                "Next": "ModuleLambdaExecutionLog"
              }
            ],
            "Next": "Continue"
          },
          "ModuleLambdaExecutionLog": {
            "Type": "Task",
            "Resource": "arn:aws:states:::aws-sdk:s3:putObject",
            "QueryLanguage": "JSONata",
            "Arguments": {
              "Bucket": "${Bucket}",
              "Key": "{% 'logs/'&$states.input.ExecutionStartTime[0]&'/'&$states.input.ExecutionStartTime[1]&'/'&$states.input.ExecutionStartTime[2]&'/budgets-stepfunction-ModuleLambda'&$split($states.context.Execution.Id, ':')[7]&'-'&$random()&'.json' %}",
              "Body": {
                "StartTime": "{% $replace($states.input.StartTime,'Z','') %}",
                "EndTime": "{% $replace($now(), 'Z', '') %}",
                "DataCollectionRegion": "${DeployRegion}",
                "DataCollectionAccountId": "${Account}",
                "Module": "${Module}",
                "ModuleFunction": "module-lambda-task",
                "Params": "${Params}",
                "PayerId": "{% $states.input.Account.payer_id %}",
                "AccountId": "{% $states.input.Account.account_id %}",
                "Region": "",
                "StatusCode": 500,
                "SubCode": "",
                "RecordCount": -1,
                "Description": "{% $states.input.Description %}",
                "DataLocation": "",
                "RunUUID": "{% $split($states.context.Execution.Id, ':')[7] %}",
                "SubUUID": [],
                "Service": "StepFunction"
              }
            },
            "Next": "Continue",
            "Catch": [
              {
                "ErrorEquals": [
                  "States.All"
                ],
                "Next": "Continue"
              }
            ],
            "Retry": [
              {
                "ErrorEquals": [
                  "States.ALL"
                ],
                "BackoffRate": 2,
                "IntervalSeconds": 1,
                "MaxAttempts": 3
              }
            ]
          },
          "Continue": {
            "Type": "Succeed"
          }
        }
      },
      "MaxConcurrency": 60,
      "ItemReader": {
        "Resource": "arn:aws:states:::s3:getObject",
        "ReaderConfig": {
          "InputType": "JSON"
        },
        "Arguments": {
          "Bucket": "{% $Bucket %}",
          "Key": "{% $AccountListKey %}"
        }
      },
      "Output": {
        "StatusCode": 200,
        "Description": "Account Map Step Function task completed successfully",
        "ModuleFunction": "AccountMapTask"
      },
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Output": {
            "StatusCode": 500,
            "Description": "{% $states.errorOutput %}",
            "ModuleFunction": "AccountMapTask"
          },
          "Next": "ExitLog",
          "Assign": {
            "ExecutionStatus": 500
          }
        }
      ],
      "Next": "CrawlerStepFunction"
    },
    "CrawlerStepFunction": {
      "Type": "Task",
      "QueryLanguage": "JSONata",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Arguments": {
        "StateMachineArn": "{% $CrawlerStateMachine %}",
        "Input": {
          "behavior": "WAIT",
          "crawlers": ${Crawlers}
        }
      },
      "Output": {
        "StatusCode": 200,
        "Description": "Step Function execution completed successfully",
        "ModuleFunction": "step-function"
      },
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "ExitLog",
          "Output": {
            "StatusCode": 500,
            "Description": "{% $states.errorOutput %}",
            "ModuleFunction": "crawler-task"
          },
          "Assign": {
            "ExecutionStatus": 500
          }
        }
      ],
      "Next": "ExitLog"
    },
    "ExitLog": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:s3:putObject",
      "QueryLanguage": "JSONata",
      "Arguments": {
        "Bucket": "{% $Bucket %}",
        "Key": "{% $LogKeyBase&'Crawler-'&$RunUUID&'.json' %}",
        "Body": {
          "StartTime": "{% $replace($states.context.State.EnteredTime,'Z','') %}",
          "EndTime": "{% $replace($now(), 'Z', '') %}",
          "DataCollectionRegion": "{% $DataCollectionRegion %}",
          "DataCollectionAccountId": "{% $DataCollectionAccountId %}",
          "Module": "{% $Module %}",
          "ModuleFunction": "{% $states.input.ModuleFunction %}",
          "Params": "{% $Params %}",
          "PayerId": "",
          "AccountId": "",
          "Region": "",
          "StatusCode": "{% $states.input.StatusCode %}",
          "SubCode": "",
          "RecordCount": -1,
          "Description": "{% $states.input.Description %}",
          "DataLocation": "",
          "RunUUID": "{% $RunUUID %}",
          "SubUUID": [],
          "Service": "StepFunction"
        }
      },
      "Next": "Finish",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "Finish"
        }
      ],
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "BackoffRate": 2,
          "IntervalSeconds": 1,
          "MaxAttempts": 3
        }
      ]
    },
    "Finish": {
      "Type": "Succeed"
    }
  },
  "TimeoutSeconds": 10800
}